<footer id="footer" class="orange">
      <div class="container section">
      <span class="white-text">© 2022 TOTT SQUAD</span>
      <a class="right white-text" target="_blank" href="https://github.com/HSargeant/type-of-the-town">Check out our github</a>
      </div>
</footer>