<header>
    <nav>
        <a href="#">Taste Of The Town</a>
        <ul>
            <li><a href="/">Home</a></li>
            <%if(user){%>
                <li><a href="/reviews">Your Reviews</a></li>
                <li><a data-target="modal1" class="modal-trigger">Add a Review</a></li>
                <li> <a href="/logout">Logout</a></li>
            <%}else{ %>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
            <%}%>
        </ul>
    </nav>
  </header>

  <div id="modal1" class="modal">
    <div class="modal-content">
        <h3>Write A Review</h3>
                        <!-- tab index doesn't work on select -->
            <form action="/reviews/createCheckin" method='POST' id="submitForm">
                <input tabindex="1" class="validate" type="text" name='restaurant' id="restaurant-modal">
                <label for="restaurant-modal">Restaurant Name</label>
                <input name="country" tabindex="2" type="text" class="autocomplete validate" id="autocomplete-input" required>
                <label for="autocomplete-input">Country</label>
                <input tabindex="3" class="validate" type="text" name='state' id="state-modal" required>
                <label for="state-modal">State/Province/Region</label>
                <input tabindex="4" class="validate" type="text" name='city' id="city-modal" required>
                <label for="city-modal">City</label>
                <input tabindex="5" class="validate" type="text" name='foodType' id="foodType-modal" required>
                <label for="foodType-modal">Type of Food</label>
                <input tabindex="6" class="validate" type="text" name='favDish' id="favDish-modal" required>
                <label for="favDish-modal">Favorite Dish</label>
                <input tabindex="7" class="validate" type="text" name='comment' id="comment-modal" required>
                <label for="comment-modal">Comment</label>
                <select tabindex="8" class="validate" id="status" name="status">
                    <option value="public" selected>Public (all visitors can see this review)</option>
                    <option value="private">Private (only you can see this review)</option>
                </select>
                <button type="submit" name="action">Submit</button>
            <!-- <input type="submit"> -->
        </form>
    </div>
</div>

