<header>
    <nav>
        <ul class="nav-list">
          <li class="nav-item">
            <%if(user){%>
                <a href="/reviews">TOTR</a>
            <%}else{%>
                <a href="/">TOTR</a>
           <% }%>
          </li>
          <%if(user){%>
            <li class="nav-item">
                <a href="/reviews">Reviews</a>
            </li>
            <li class="nav-item">
                <a href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a href="/logout">Logout</a>
            </li>
        <%}else{ %>
            <li><a href="/">Home</a></li>
            <li><a href="/reviews">Reviews</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
        <%}%>
        </ul>
      </nav>
  </header>

  

