<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Poppins and IBM Plex Sans-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap" rel="stylesheet">
   <!-- Font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title><%- title %></title>
</head>
<body>
    <%- include('../partials/header') %>

    <%- body %>
    
    <%- include('../partials/footer') %>
       <!-- Modal for add review -->
<section id="modalReview" class="wrapper modalFloat">
  <section class="modalBody">
    <h3>Write A Review</h3>
                    <!-- tab index doesn't work on select -->
       <form class="modalForm"action="/reviews/createCheckin" method='POST' id="submitForm">
        <ul>
          <li>
            <label for="restaurant-modal">Restaurant Name</label>
            <input tabindex="1" class="validate" type="text" name='restaurant' id="restaurant-modal">
          </li> 
          <li>
            <label for="autocomplete-input">Country</label>
            <input name="country" tabindex="2" type="text" class="autocomplete validate" id="autocomplete-input" required>
          </li> 
          <li>
            <label for="state-modal">State/Province/Region</label>
            <input tabindex="3" class="validate" type="text" name='state' id="state-modal" required>
          </li> 
          <li>
            <label for="city-modal">City</label>
            <input tabindex="4" class="validate" type="text" name='city' id="city-modal" required>
          </li> 
          <li>
            <label for="foodType-modal">Type of Food</label>  
            <input tabindex="5" class="validate" type="text" name='foodType' id="foodType-modal" required>
          </li>
          <li>
            <label for="favDish-modal">Favorite Dish</label>
            <input tabindex="6" class="validate" type="text" name='favDish' id="favDish-modal" required>
          </li> 
          <li>
            <label for="comment-modal">Comment</label>
            <textarea tabindex="7" class="validate" type="text" name='comment' id="comment-modal" placeholder="Tell us about the restaurant!"required></textarea>
          </li> 
          <li>
            <select tabindex="8" class="validate" id="status" name="status">
                <option value="public" selected>Public (all visitors can see this review)</option>
                <option value="private">Private (only you can see this review)</option>
            </select>
          </li> 
          <li>
            <button class= "sub-btn" type="submit" name="action">Submit</button>
          </li> 

      </ul>
   </form>
  </section>
</section>
<!-- Modal for Edit -->
<!-- <section id="modalEdit" class="wrapper modalFloat">
<section class="modalBody">
<h3>Edit Review</h3>
   <form class="modalForm"action="/reviews/createCheckin" method='POST' id="submitForm">
    <ul>
      <li>
        <label for="restaurant-modal">Restaurant Name</label>
        <input tabindex="1" class="validate" type="text" name='restaurant' id="restaurant-modal">
      </li> 
      <li>
        <label for="autocomplete-input">Country</label>
        <input name="country" tabindex="2" type="text" class="autocomplete validate" id="autocomplete-input" required>
      </li> 
      <li>
        <label for="state-modal">State/Province/Region</label>
        <input tabindex="3" class="validate" type="text" name='state' id="state-modal" required>
      </li> 
      <li>
        <label for="city-modal">City</label>
        <input tabindex="4" class="validate" type="text" name='city' id="city-modal" required>
      </li> 
      <li>
        <label for="foodType-modal">Type of Food</label>  
        <input tabindex="5" class="validate" type="text" name='foodType' id="foodType-modal" required>
      </li>
      <li>
        <label for="favDish-modal">Favorite Dish</label>
        <input tabindex="6" class="validate" type="text" name='favDish' id="favDish-modal" required>
      </li> 
      <li>
        <label for="comment-modal">Comment</label>
        <textarea tabindex="7" class="validate" type="text" name='comment' id="comment-modal" placeholder="Tell us about the restaurant!"required></textarea>
      </li> 
      <li>
        <select tabindex="8" class="validate" id="status" name="status">
            <option value="public" selected>Public (all visitors can see this review)</option>
            <option value="private">Private (only you can see this review)</option>
        </select>
      </li> 
      <li>
        <button class= "sub-btn" type="submit" name="action">Submit</button>
      </li> 

  </ul>
</form>
</section>
</section> -->
    <%if(user){%>
        <i id="addReview" class="fa-solid fa-circle-plus"></i>

    <%}%>
         
    <script src="/js/main.js"></script>
</body>
</html>