<main>
    <nav>
        <div class="nav-wrapper orange lighten-1">
          <a href="#" class="brand-logo center ">Type of the Town</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
          </ul>
        </div>
      </nav>

    <p class='center'>Welcome to Type of the Town. Check out the reviews from others in your area or <a href="/signup">signup</a> up and start sharing your own great food finds!</p>

   
    <%# Each card will eventually be created to access the database and a card will be generated for every entry
    %>

    <div class="row">
        <div class="col">
          <div class="card orange lighten-4">
            <div class="card-content black-text">
              <h2 class="card-title">checkins.restuarant</h2>
              <span>checkins.city , checkins.state -- checkins.country</span>
              <h4>checkins.foodType</h4>
              <p>checkins.comment</p>
              <span>checkins.favDish</span>
            </div>
          </div>
        </div>
      </div>

      





</main>

