<main>
  <section class="hero">
    <div>
      <h1 class="hero-title">TOTR</h1>
    </div>
    <div>
    <h2 class="hero-tagline">Taste of the Town Reviews</h2>
    </div>
  </section>
  <div class="carousel">
      <div class="carousel__item"><p>Discover new things to taste in YOUR town.</p></div>
      <div class="carousel__item"><p>Keep public and private notes on the restaurants you have tried.</p></div>
      <div class="carousel__item"><p>Read and write reviews without the annoying photos.</p></div>
  </div>
  <section class="options">
    <a href="/login"><button class="btn">login</button></a>
    <a href="/signup"><button class="btn btn-white">sign up</button></a>
    <a href='/reviews'>READ REVIEWS</a>
  </section>

</main>