<main>
  <section class="hero">
    <div>
      <h1 class="hero-title">TOTR</h1>
    </div>
    <div>
    <h2>Taste of the Town Reviews</h2>
    </div>
  </section>
  <div class="carousel">
      <div class="carousel__item"><p>Discover new things to taste in YOUR town.</p></div>
      <div class="carousel__item"><p>Keep public and private notes on the restaurants you have tried.</p></div>
      <div class="carousel__item"><p>Read and write reviews without the annoying photos.</p></div>
  </div>
  <section>
    <button class="login">login</button>
    <button class="signup">sign Up</button>
    <a href='#'>READ REVIEWS</a>
  </section>

</main>