<main>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div><%= el.msg %></div>
        <% }) %>    
    <% } %>
    
            <h2>Log In</h2>
        <form action="/login" method="POST">
            <input tabindex="1" class="validate" type="email" name='email' id="email-input">
            <label for="email-input">Email</label>
            <input tabindex="2"  minlength="8"  class="validate" type="password" name='password' id="password-input">
            <label for="password-input">Password</label>
            <button tabindex="3" class="button" type="submit" name="action">Log In</button>
    
        </form>
</main>