<main>
    <h1>Add a Restaurant Review</h1>
    <ul>
        <%console.log(posts)%>
    <% posts.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span><%= el.restaurant %></span>
                <span class='del'><button>Delete</button>  </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %></h2>

    <form class= "formReview"action="/reviews/createCheckin" method='POST' id="submitForm">
        <label for="name">Restaurant Name:</label>
        <input type="text" placeholder="" name='name'>
        <label for="country">Country:</label>
        <input type="text" placeholder="Enter country" name='country'>
        <label for="state">State/Province/Region:</label>
        <input type="text" placeholder="State/Province/Region" name='state'>
        <label for="city">City:</label>
        <input type="text" placeholder="City" name='city'>
        <label for="foodType">Type of Food:</label>
        <input type="text" placeholder="" name='foodType'>
        <label for="favDish">Favorite Dish:</label>
        <input type="text" name='favDish'>
        <label for="comment">Comment:</label>
        <input type="text" placeholder="Write a comment" name='comment'>
        <select id="status" name="status">
            <option value="public" selected>Public</option>
            <option value="private">Private</option>
        </select>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

</main>