<main>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <div>
          <h2>Sign up</h2>
      <form action="/signup" method="POST">
          <input tabindex="1" class="validate" type="text" name='userName' id="userName-input">
          <label for="userName-input">User Name</label>
          <input tabindex="2" class="validate" type="email" name='email' id="email-input">
          <label for="email-input">Email</label>
          <input tabindex="3" minlength="8" class="validate" type="password" name='password' id="password-input">
          <label for="password-input">Password</label>
          <input tabindex="4" minlength="8" class="validate" type="password" name='confirmPassword' id="confirmPassword-input">
          <label for="confirmPassword-input">Password</label>
          <button tabindex="5" type="submit" name="action">Sign Up</button>
      </form>
</main>