body {
    background-color: rgb(248, 242, 233);
}

.brand-logo {
    text-shadow: 2px 2px 5px black ;
}

h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}


/* this is the "welcome..." message paragraph */
.center.message{
    margin: 2rem;
}


/*used inline block to make the main page posts be next to each other (now by 3, like they're POst-its. if you want to only 2 posts per row, go to .card-content.black-text here on CSS and change the width to "40rem" ).*/
.row {
    display: inline-block;
    margin-left: 4.7rem;
}

/* this is the size of each post on the main page. If you want just only 2 posts per row change the width to 40rem*/
.card-content.black-text{
    min-height: 20rem; 
    width: 20em;
}

.card-title{
    font-weight: 400 !important;
    text-align: center;
}

.foodTypeSection{
    font-size: 1rem;
    font-style: italic;
}

.commentSection{
    margin-top: 1rem !important;
    text-align: justify;
}