* {
    box-sizing: border-box;
  }
  
body {
    background-color: #FCFCFC;
    font-family: "Poppins", sans-serif;
    margin: 0 !important;
}

a {
    text-decoration: none;
    color: white;

}

.page-title{
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-family: "IBM Plex Sans";
  font-weight: 600;
}

/*****************HEADER*************************/
.nav-list {
    background: black;
    margin: 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4)
  }
  
  .nav-item {
    list-style: none;
    margin-right: 2rem;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
    transition: all 200ms ease-in;
  }
  
  .nav-item a:hover {
    color: #FFC700;
  }

  /* with margin-right you can unsquish the links of the nav.*/
  .nav-item:first-child {
    margin-right: 20em;
    margin-left: 1rem;
    font-size: 40px;
    font-weight: 700;
  }

/*********************TOTR YELLOW BANNER**********************/
.TOTRbanner {
    background: #FFC700;
    height: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 45px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4)
}

.TOTRbanner-item {
  margin: 0 0;
}

.TOTRbanner h2 {
font-family: 'IBM Plex Sans';
color: black;
font-weight: 500;
font-size: 20px;
margin: 0 0;
}


.TOTRbanner p {
  font-family: 'IBM Plex Sans';
  font-size: 25px;
}

.TOTRbanner-item:first-child {
  font-size: 2.5em;
  font-weight: 700;
  color:black;  
}

.TOTRbanner a:hover {
  color: black;
}



/*****************START MAIN*************************/
.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 485px;
    left: 0px;
    top: 63px;
    background-size: cover;
    background-attachment: local;
    background-position: center ;
    background-image: url("/heroimage.jpg");
}

.hero-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 11em;
    line-height: 13px;
    color: white;
    text-shadow: 12px 12px 10px rgba(0, 0, 0, 0.7);

}

.hero-tagline {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 13px;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 1);
}

.options {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.btn {
    align-self: center;
    width: 30%;
    height: 2.8em;
    background-color: black;
    color: white;
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    border-radius: 5px;
}

.btn:first-of-type{
    margin-top: 2em;
}


.btn-white {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: .5em;
    margin-bottom: 1em;
}

.options a {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #2237A5;
    text-decoration: none;
    margin-bottom: 2em;

}











/** CAROUSEL FROM https://www.youtube.com/watch?v=XtFlpgaLbZ4 **/
.carousel {
    display: block;
    position: relative;
    width: 100%;
  }
  
  .carousel__item {
    height: 6em;
    background: #FFC700;
    padding: 1em;
    font-size: 1.5em;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    color: black;
    display: none;
    text-align: center;
  }
  
  .carousel__item--selected {
    display: block;
  }
  
  .carousel__nav {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__button {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel__button--selected {
    background: rgba(255, 255, 255, 0.5);
  }
  
  /*********************REVIEWS************************/
  .wrapper {
    align-items: center;
    max-width: 600px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.main{
  background-color: #FCFCFC;
}

.reviews {
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  /* font-size: 40px; */
  /* margin-left: 2em; */
}
.reviews.wrapper h3 {
  width: 100%;
}


/* previously .template */
.review-card {  
  background: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 6%;
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 5% 5% 2% 5%;
}

/* .template-top {
  display: flex;
  font-size: 20px;
} */

.fa-solid.fa-circle-user::before{
  color: #FFC700;
  font-size: 4rem;
}
.fas.fa-edit.edit::before{
  color: black;
}

.template-info-user {
  margin: 0 0;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
}
h2.template-info_restaurant {
  font-size: 1.5rem;
  margin: .2rem 0;
  text-transform: uppercase;
}
.template-info_location {
  font-size: .8rem;
}

.template-info_type{
  margin: .2rem 0;
}

.template-info_username a {
  color:#2237A5;
  font-weight: 700;
}

.template-comment {
  font-weight: 400;
  font-size: 1rem;
  width: 100%;
  
}

.template-icons i {
  margin-right: 1em;
}
/*Current floating button*/
.fa-solid.fa-circle-plus::before{
  color: #FFC700;
  font-size: 9.5vh;
  z-index: 100;
  position: fixed;
  bottom: 5%;
  right: 3%;

}



  /*********************FOOTER*************************/

  #footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    font-weight: 600;
    padding: .8em 0;
  }

  #footer div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

/* MODAL */
.wrapper.modalFloat{
  position:fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 70vw; 
  /* height: 50%;
  max-height: 50vh;  */
  padding-top: 5%;

}  

.modalBody {
  background: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 2%;
  width: 100%;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  align-items: center;
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  
}
.modalBody h3{
  font-size: 2rem;
}
.modalForm{
  display: block;
  width: 80%;
  font-family: "IBM Plex Sans";
}

ul{
  text-decoration: none;
  list-style-type: none;
}

.modalForm label {
  display: block;
}

.modalForm input {
  width: 100%;
  padding-bottom: 2%;
}
textarea{
  width: 100%;
}
.sub-btn {
  /* width:25%; */
  border-color: #FFC700;
  background-color:#FFC700;
  color: white;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: 48px;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 0 1rem;
  margin-top: 4%;
}

#status {
  width: 100%;
}

#modalEdit{
  display: none;
}

#modalReview{
  display: none;
}
