body {
    background-color: rgb(248, 242, 233);
}

.brand-logo {
    text-shadow: 2px 2px 5px black ;
}

h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}


  
  